<p id="notice"><%= notice %></p>

<h1>Users</h1>

<div id="user_index">

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Bio</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <tr v-for="user in users">
        <td>{{ user.name }}</td>
        <td>{{ user.age }}</td>
        <td>{{ user.bio }}</td>
        <td><a :href="user.url">Show</a></td>
        <td><a :href="user.edit_url">Edit</a></td>
        <td><a :href="user.url" data-confirm="Are you sure?" data-method="delete" rel="nofollow" me>Destroy</a></td>
      </tr>
    </tbody>
  </table>

  <br>

  <%= link_to 'New User', new_user_path %>
</div>
